.bgAboutUs{
  /* background-color: azure; */
  /* min-height: 100vh; */
  /* min-width: 100vh; */
  /* margin: auto; */
  /* padding: 20px; */
  background-color: rgba(228, 227, 227, 0.46);
  background-image: url('https://cdn.glitch.com/e4c45146-a1cb-43c3-86fe-35bf46516a43%2Fd.jpg?v=1560731955748');
  background-blend-mode: screen;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  
  /* gap: 20px; */
  /* flex-wrap: wrap; */
 

}

.paragrapAboutUs{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  


}

.WhoUs{
  font-weight: 100;
  font-size: 50px;
  /* font-family: 'Tai Heritage Pro', serif; */
  /* font-family: 'Quicksand', sans-serif; */
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif;
 
}


.titleMan{

  font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif;
  font-size: 20px;
    text-align: right;
    font-weight: 100;
}

.divImgAboutUs{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  
}

.titleMan{
  text-align: center;
}

.titleTeam{
 
  font-size: 3rem;
  text-align: center;
  font-weight: 100;
  
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif;
}

.Ptext{
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif;
  font-weight: 200;
  font-size: 1.5rem;

}


.divText{

  display: grid;
  grid-template-columns: 250px 250px 250px 250px;
  grid-template-rows: 350px 350px 350px 350px;
  justify-content: center;
  row-gap: 4%;
  column-gap: 2%;
  height: 100vw;
}

/* ************************************************** */

.main {
  display:flex;
  width: 100%;
  height: 90vh;
  direction: ltr;
  margin:  0 auto;
  flex-direction: column;
  align-items: center;

 
 
}

.top {
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* background-color: yellow; */
  height: 100px;
  align-items: center;
  padding: 0 20px;
  
  
}

.slider-wrapper{
  display: flex;
 
  width: 100%;
  height: 100%;
}

.left {
  display: flex;
  width: 70%;
  /* background-color: red; */
  justify-content: center;
  align-items: center;
}

.left img {
  max-width: 90%;
  max-height: 90%;
  display: flex;
  margin: 0 50px;
}

.left button {
  background-color: transparent;
  border: none;
}

.top button {
  border: none;
  background: transparent;
  width: 50px;
  height: 50px;
}


.right {
  width: 33%;
  /* background-color:blue; */
  
  display: flex;
  flex-direction: column;
  text-align: right;
  justify-content: center
}

.right  {
  /* background-color: green; */
  padding: 0 50px;
  /* width: 200px; */
}

.containerImages{
  
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;

}

.imgCoach{
  margin: auto;
  width: 250px;
  height: 250px;
}




.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.material-icons:hover{
  cursor: pointer;
}

.fill-window {
  height: 100%;
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
}

.nameOfCoach{
  text-align: center;
  font-size: 1.2rem;
}



/* /////////////////////////////////////////////// media query */

@media (orientation :portrait ){
  .imgCoach{
    padding: 0px 3%;
    width:95vw;
    margin-top: 3.5rem;

  }

  .bgAboutUs{
    height: 100vw;
    width: 100vw;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
  }

  .divText{
    display: flex;
    flex-wrap: wrap;
    height: 100%
  }
  .bgAboutUs{
    height: 100%;
  }
  
}
