.bgAboutUs{
  /* background-color: azure; */
  height: 90rem;
  width: 85%;
  margin: auto;
  padding: 20px;

}

.paragrapAboutUs{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
 line-height: 3rem;
 /* font-family: " FreeMono"; */
 /* font-family: 'Zen Kaku Gothic New', sans-serif;  margin: auto; */
  padding: 70px;
  font-size: 20px;


}

.WhoUs{
  font-weight: 100;
  font-size: 50px;
  /* font-family: 'Tai Heritage Pro', serif; */
  /* font-family: 'Quicksand', sans-serif; */
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif;
 
}


.titleMan{

  font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif;
  font-size: 20px;
    text-align: right;
    font-weight: 100;
}

.divImgAboutUs{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  
}

.titleMan{
  text-align: center;
}

.titleTeam{
 
  font-size: 3rem;
  text-align: center;
  font-weight: 100;
  
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif;
}

.Ptext{
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif;
  font-weight: 200;
  font-size: 1.5rem;

}