.bgEmail {
  background-color: rgb(31, 65, 65);
  display: flex;
  color: white;
  justify-content: space-evenly;
  padding: 70px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif;

}

.rightEmailDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;



}

.titleEmail {
  text-align: center;
  font-size: 2rem;

}

.inputEmail {
  padding: 20px;
  width: 500px;
  border: none;
  margin: 2px;
  font-size: 15px;
  background: transparent;
  color: white;

}

.leftEmailDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;


}

.instaFacePosition {
  display: flex;
  justify-content: center;

  padding: 10px 0px;
}

.responsePhone {
  color: white;
  font-size: 15px;
}

.emailRan {
  text-decoration: underline;
  color: white;

}

.phoneRan {
  text-decoration: underline;
  color: white;

}

.btnEmail {
  border: none;
  margin: auto;
  border-radius: 12px;
  padding: 7px 40px;
  background-color: rgb(38, 55, 36);
  font-weight: bold;
  font-size: 1rem;
  color: white;
  font-weight: 100;
  width: 40%;
  padding: 10px;

}

.developer {
  display: flex;
  justify-content: center;
  background-color: rgb(31, 65, 65);
  color: white;
  font-size: 10px;
}



@media (orientation :portrait) {
  .rightEmailDiv {
    display: flex;
  }

  .aftersend {
    text-align: center;
  }

  .developer {
    padding: 1rem;
  }

}