



.carousel .slider-wrapper{
  width: 80%;
  height: 80%;
} 


.carousel{
 display: flex;
 justify-content: center;
}

@media (orientation :portrait ){
  .SimpleImageSlider{
    width:100%;
    height:100%
  }
  
}