
.banbarPosition{
  width: 70rem;
  list-style: none;
  display: flex;
  
  justify-content: space-between;
  margin: auto;
 font-size: 1.1rem;
  padding: 1rem 2px;
 
}

.page:hover{
  cursor: pointer;
 
}

svg{
  
  font-size: 30px;
}
svg:hover{
  cursor: pointer;
}
.svgIcon{
    margin-right: 10px;
    font-size: 20px;
}

.socialMedia{
  display: flex;
  align-items: center;
}

.logoRan{
  width: 70px;
  height: 30px;
  background-color: black;
}

.hamburgarIcons{
  display: none;
}

.home1{
  display: none;
}
.linkStyle{
  text-decoration: none;
  color: black;
}

/* //////////////////// media query */

@media (orientation :portrait ){
  .banbarPosition{
    display: none;

  }
  .hamburgarIcons{
    display: flex;
    justify-content: space-between;
    padding: 30px;
   
  }
  .hamburgarIcons2{
    display: flex;
    justify-content: space-between;
    gap: 8px;
  }
  .home{
    display: block;
  }
 
.gridImages{
  display: flex;
  flex-direction: column;
}
.bg3Three{
  display: flex;
  flex-direction: column;
}
.gridImagesThree{
  display: flex;
  flex-direction: column;
}
.gridImagesFour{
  display: flex;
  flex-direction: column;
}
.bgEmail{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0px;
 
}


}