
.banbarPosition{
  width: 60%;
  list-style: none;
  display: flex;
  line-height: 30px;
  justify-content: space-between;
  margin: auto;
  padding: 15px;
 
}

.page:hover{
  cursor: pointer;
}

svg{
  margin-right: 10px;
  font-size: 20px;
}
svg:hover{
  cursor: pointer;
}

.socialMedia{
  display: flex;
  align-items: center;
}

.logoRan{
  width: 70px;
  height: 30px;
  background-color: black;
}

.hamburgarIcons{
  display: none;
}

.home1{
  display: none;
}

/* //////////////////// media query */

@media (orientation :portrait ){
  .banbarPosition{
    display: none;

  }
  .hamburgarIcons{
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  .home{
    display: block;
  }
 
.gridImages{
  display: flex;
  flex-direction: column;
}
.bg3Three{
  display: flex;
  flex-direction: column;
}
.gridImagesThree{
  display: flex;
  flex-direction: column;
}
.gridImagesFour{
  display: flex;
  flex-direction: column;
}
.bgEmail{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0px;
 
}


}