.blogMain {
  display: flex;
  flex-direction: column;
  text-align: right;
  justify-content: right;
  align-items: right;
  width: 50%;
  font-family: 'Heebo', sans-serif;
}

.blogImgOne {
  width: 90%;
  height: 30vw;
}

.titleblogOne {
  font-size: 15px;
  margin-bottom: 1rem;
  font-weight: bolder;
}

.textBlogOne {
  width: 90%;
}

@media (orientation :portrait) {
  .blogMain {
    display: flex;
    flex-direction: column;

    width: 68%;
    justify-content: center;
    align-items: right;
    text-align: right;
  }

  .mainDivBlog {
    justify-content: center;
    align-items: center;
  }
}