.sectionPlaces{
  display: grid;
  grid-template-columns: 20rem 20rem 20rem;
  justify-content: center;
  gap: 2.5rem;
  /* justify-content: space-around; */

}


.cardPlaces{
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 20px;
  border: 1px solid black;
}
.cardPlaces2{
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgb(16, 56, 17);
  padding: 20px;
  border: 1px solid black;
  color: white;
}

.location{
  width: 20px;
  height: 20px;
  margin-left: 2px;

}
.location2{
  width: 20px;
  height: 20px;
  margin-left: 3px;
  
}

.middle{
 display: flex;
 align-items: center;
padding: 0.3rem;

}

hr{
  width: 70%;
}

.BackgroundPlaces{
  background-color: rgba(228, 227, 227, 0.46);
  background-image: url('https://cdn.glitch.com/e4c45146-a1cb-43c3-86fe-35bf46516a43%2Fd.jpg?v=1560731955748');
  background-blend-mode: screen;
  height: 100vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
}

@media (orientation :portrait ){
  .sectionPlaces{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    gap: 1rem;
    width: 90%;
  }

  .BackgroundPlaces{
    height: 100%
  }
}