.positionSubscribers{
  display: flex;
justify-content: center;
gap: 1rem;
font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif;
font-weight: 100;
}

.Route{
  width: 200px;
  height: 150px;
  border: 1px solid black;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0);
}
.RouteImg{
  width: 210px;
  height: 210px;
  border: 1px solid black;
 
}
.imgSub{
  width: 100%;
  height: 100%;
}


 .modal {
   margin-top: 10rem ;
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: center;
  align-items: center;
  text-align: center;
  
  
}

.modal{
display: flex;
justify-content: center;
align-items: center;

}
.popup-overlay{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: auto;
}

.backgrounsSub{
  background-color: rgba(228, 227, 227, 0.46);
  background-image: url('https://cdn.glitch.com/e4c45146-a1cb-43c3-86fe-35bf46516a43%2Fe.jpg?v=1560731959643');
  background-blend-mode: overlay;
  height: 100vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
}
