.titleGroups{
  font-weight: 100;
  font-size: 3rem;
  text-align: center;
  /* font-family: 'Frank Ruhl Libre', serif; */
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif;
}

.groupBtn{
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 30px;
}

.fileBtn{
  padding: 10px 30px;
  background-color: white;
  font-size: 1rem;
  border: 0.5px solid rgb(143, 143, 143);
}
.fileBtn:hover{
  cursor: pointer;
 background-color: #0C4426;
 color: white;
}
.imagesGROUPS{
  text-align: center;
  display: grid;
  grid-template-columns: 15vw 15vw 15vw;
  text-align: center;
  justify-content: center;
  gap: 20px;
  
}

.backgroundGroup{
  background-color: rgba(228, 227, 227, 0.46);
  background-image: url('https://images.unsplash.com/photo-1518310383802-640c2de311b2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
  background-blend-mode: screen;
  height: 100vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
}


/* //////////////////////////////////////// group images */
.main2{
  display:flex;
  width: 100%;
  height: 90vh;
  direction: ltr;
  margin:  0 auto;
  flex-direction: column;
  align-items: center;
}

.top2{
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* background-color: yellow; */
  height: 100px;
  align-items: center;
  padding: 0 20px;
}

.wrapper2{
  display: flex;
  width: 100%;
  height: 100%;
}
.left{
  display: flex;
  width: 70%;
  /* background-color: red; */
  justify-content: center;
  align-items: center;
}

.left img {
  max-width: 90%;
  max-height: 90%;
  display: flex;
  margin: 0 50px;
}

.left button {
  background-color: transparent;
  border: none;
}

.top button {
  border: none;
  background: transparent;
  width: 50px;
  height: 50px;
}
.right {
  width: 30%;
  /* background-color:blue; */
  
  display: flex;
  flex-direction: column;
  text-align: center;
}
.right p {
  /* background-color: green; */
  padding: 0 50px;
  /* width: 200px; */
}

.bgAboutUs2{
  /* background-color: azure; */
  /* min-height: 100vh; */
  /* min-width: 100vh; */
  /* margin: auto; */
  /* padding: 20px; */
  background-color: rgba(228, 227, 227, 0.46);
  background-image: url('https://cdn.glitch.com/e4c45146-a1cb-43c3-86fe-35bf46516a43%2Fd.jpg?v=1560731955748');
  background-blend-mode: screen;
  /* height: 100vh; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
 

}

.paragrapAboutUs2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 20px;
  padding: 20px;
}

.imgCoach2{
  width: 250px;
  height: 250px;
}

.nameOfCoach2{
  text-align: center;
  font-size: 1.2rem;
}